* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

/* navigation bar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links {
  display: none;
}

@media (min-width: 992px) {
  .nav-ham {
    display: none;
  }
  .nav-links {
    display: block;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

/* main */

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-image: url(../Images/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.main-text {
  text-align: center;
  padding: 15px 10px;
  color: white;
}

.main-text h1 {
  padding: 5px 0;
  text-transform: capitalize;
}

.main-text p {
  font-size: medium;
  padding-bottom: 20px;
}

.main-form {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.557);
  border-radius: 10px;
}

.main-form input {
  font-size: 16px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

.main-form select {
  font-size: 16px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

.main-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff5400;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 992px) {
  .main-form {
    flex-direction: row;
    gap: 10px;
  }
}
/* tour */

.tour {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tour-text h2 {
  font-weight: bold;
  padding: 20px 0;
}

.tour-text p {
  padding: 25px 0;
}

.tour-list li {
  padding: 20px 0 0 20px;
}

.tour-text button {
  color: white;
  background-color: #ff5400;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
}

.tour-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour-img img {
  width: 100%;
}

@media (min-width: 992px) {
  .tour {
    flex-direction: row;
    gap: 30px;
  }

  .tour-text {
    width: 70%;
  }
  .tour-img img {
    width: 100%;
  }
}

/* Destination */

.destination-text {
  text-align: center;
}

.destination-text h2 {
  padding: 15px 0;
}

.destination-text p {
  color: rgba(0, 0, 0, 0.653);
  padding: 15px 0;
}

.wrapper {
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
}

.destination-img div div img {
  width: 100%;
  height: 300px;
  padding: 5px 0;
  cursor: pointer;
}

.destination-img div div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-img div div span {
  position: absolute;
  color: white;
  font-size: larger;
  font-weight: bold;
}

@media (min-width: 992px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

/* why chose us */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card-1 {
  border: 1px solid #fbb563;
  background-color: #fbb46315;
  border-radius: 7px;
  padding: 30px;
}

.card-1 h2 {
  padding: 10px 0;
}

.card-2 {
  border: 1px solid #29cef6;
  background-color: #29cdf615;
  border-radius: 7px;
  padding: 30px;
}

.card-2 h2 {
  padding: 10px 0;
}
.card-3 {
  border: 1px solid #e94444;
  background-color: #e9444415;
  border-radius: 7px;
  padding: 30px;
}
.card-3 h2 {
  padding: 10px 0;
}

@media (min-width: 992px) {
  .card-col-1 {
    flex-direction: row;
  }
  .card-col-2 {
    width: 50%;
  }
}

/* Newsletter */
/*  */
.newsletter-container {
  gap: 30px;
}

.newsletter-text {
  border: 1px solid #ff5400;
  border-radius: 9px;
  padding: 20px;
  margin-bottom: 20px;
}

.newsletter-input input {
  background-color: rgba(0, 0, 0, 0.035);
  border: none;
  border-radius: 7px;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
}

.newsletter-input button {
  color: white;
  background-color: #ff5400;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  width: 100%;
}

.newsletter-img {
  width: 100%;
  position: relative;
}

.newsletter-img div {
  width: fit-content;
}

.newsletter-img div img {
  width: 100%;
}

.img-text {
  position: absolute;
  bottom: 100px;
  left: 400px;
  background-color: #ff5400;
  color: white;
  padding: 15px 20px;
  width: fit-content;
  border-radius: 7px;
  transform: rotate(-20deg);
}

@media (min-width: 992px) {
  .newsletter-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsletter-text {
    width: 100%;
  }
}
