* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

/* navigation bar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links {
  display: none;
}

@media (min-width: 992px) {
  .nav-ham {
    display: none;
  }
  .nav-links {
    display: block;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

/* main */

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin-top: 20px;
  background-image: url(../Images/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.main-text {
  text-align: center;
  padding: 15px 10px;
  color: white;
}

.main-text h1 {
  padding: 5px 0;
  text-transform: capitalize;
}

.main-text p {
  font-size: medium;
  padding-bottom: 20px;
}

.main-form {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.557);
  border-radius: 10px;
}

.main-form input {
  font-size: 16px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

.main-form select {
  font-size: 16px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

.main-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff5400;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 992px) {
  .main-form {
    flex-direction: row;
    gap: 10px;
  }
}
/* tour */

.tour {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}

.tour-text h2 {
  font-weight: bold;
  padding: 20px 0;
}

.tour-text p {
  padding: 25px 0;
}

.tour-list li {
  padding: 20px 0 0 20px;
}

.tour-text button {
  color: white;
  background-color: #ff5400;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
}

.tour-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour-img img {
  width: 100%;
}

@media (min-width: 992px) {
  .tour {
    flex-direction: row;
    padding-top: 70px;
    gap: 30px;
  }

  .tour-text {
    width: 70%;
  }
  .tour-img img {
    width: 100%;
  }
}

/* Destination */

.destination-text {
  text-align: center;
}

.destination-text h2 {
  padding: 15px 0;
}

.destination-text p {
  color: rgba(0, 0, 0, 0.653);
  padding: 15px 0;
}

.wrapper {
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
}

.destination-img div div img {
  width: 100%;
  height: 300px;
  padding: 5px 0;
  cursor: pointer;
}

.destination-img div div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-img div div span {
  position: absolute;
  color: white;
  font-size: larger;
  font-weight: bold;
}

@media (min-width: 992px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
